* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Container {
  max-width: 1100px !important;
  margin: 0 auto;
}

.lora {
  font-family: "Lora", serif;
}

.font-family{
  font-family: Arial, Helvetica, sans-serif !important;
}

.x-small{
  font-size: x-small !important;
}

.smaller{
  font-size: smaller !important;
}

.register_btn{
  background-color: #09A5F2 !important;
  font-size: smaller !important;
  padding: 10px 20px !important;
}

.font-large{
  font-size: 45px !important;
  line-height: 60px;
}

.small {
  font-size: small;
}

.color {
  color: #09A5F2;
}

.des-width{
  width: 105% !important;
}

.size{
  font-size: 43px;
  width: 120%;
}

.ml{
  margin-left: -150px;
  width: 100%;
}

.cards{
  background-size: cover !important;
  background-position: center !important;
}

.firstCard{
  background-image: url(./images/vitalii-khodzinskyi-r9r3JsaFGNc-unsplash-min.jpg);
  height: 500px !important;
  width: 25% !important;
}

.icon-container {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand{
  position: absolute;
  top: 20px;
  right: 20px;
}

.deg{
  font-size: 80px;
}

.secCard{
  height: 430px;
  width: 25%;
  background-color: #EFF2F1;
}

.avatar-group {
  display: flex;
  align-items: center;
}

.avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #fff;
  object-fit: cover;
}

.avatar2, .avatar3, .avatar4{
  margin-left: -20px;
}

.avatar:first-child {
  margin-left: 0;
}
.thirdCard{
  background-image: url(./images/lukas-fitria-adi-setiawan-l434jwoXrEI-unsplash-min.jpg);
  width: 50% !important;
  height: 430px !important;
}

.beautiful-beaches{
  background: rgba(255, 255, 255, 0.305);
  width: 80%;
  color: white;
}

.previous-icon{
  background: rgba(255, 255, 255, 0.652);
}

.location-description{
  width: 35%;
}

.location-navigator{
  margin-top: -70px;
}

.location-right{
  background: rgba(221, 221, 221, 0.293);
}

.Blue{
  background-color: #6bccfc;
}

.location-card{
  height: 350px !important;
  width: 23% !important;
}

.location-card h3{
  margin-top: -15px!important;
}

.MT{
  margin-top: 100px !important;
}

.btm{
  margin-top: 370px;
  margin-left: -20px;
  background-color: #09A5F2; 
  color: white !important;
  font-size: smaller;
  width: 180px;
}


.des{
  font-size: smaller !important;
}

.di{
  height: 40px !important;
  margin-top: 20px;
  width: 3px !important;
  background-color: rgba(37, 37, 37, 0.584) !important;
}

.hotelCard {
  height: 300px;
}

.rating{
  background-color: #09A5F2 ;
  width: 25%;
  color: white;
}

.profileCard{
  height: 300px !important;
}

.tour-container{
  margin-bottom: 100px !important;
}

.ready-text{
  font-size: 50px !important;
}

.book-btn{
  width: 120px !important;
  padding: 10px 10px !important;
}

input{
  width: 250px !important;
}

.small-icon-container{
  width: 30px !important;
  height: 30px !important;
  background-color: rgba(237, 237, 237, 0.587) !important;
}
.about a {
  color: grey;
  text-decoration: none;
}

.line-height {
  margin-top: -15px;
}
